h1 {
  font-size: 2em;
  margin-top: 0;
}

nav {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}
